In [ ]:
with engine.connect() as conn:
    data.to_sql(name='data', con=conn, if_exists='replace', index=False)